__pycache__/
*.py[cod]
*.so
*.so.*
*.o
*.egg-info/
.pytest_cache/
.venv/
build/
dist/
wheels/
outputs/
releases/*
!releases/README.md
!releases/README_cn.md
.build/
*.log
.env
.pypirc

# Local agent files
agent/
